name: Draw ZMK keymaps
on:
  workflow_dispatch:
  push:
    paths:
      - 'config/*.keymap'

jobs:
  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    permissions:
      contents: write
    with:
      keymap_patterns: "config/*.keymap"
      output_folder: "keymap-drawer"
      parse_args: ""
      draw_args: ""
# コミットメッセージやamend_commitの指定などカスタマイズオプションも利用可能
